{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesthree.css' %}">
<style>





</style>
</head>
<body>

<div class="header">
  {% block content %}
  <a href="#default" class="logo">LifeLink</a>

</div>

<!-- <div style="padding-left:20px"> -->

  <div class="container-1">
      <div class="box-1">
        <video width="600" height="400" autoplay>
          <source src="assets/projectlifevid.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </div>

      <div class="box-2">
        
        
        <div class="boxinfo">
          <h4> I need to find an organ donor. </h4>
          <a href="/patient">
          <button class="button">Start</button></a>
        </div>

        <div class="boxinfo">
          <h4> I want to donate an organ. </h4>
          <button class="button">Start</button></a>
        </div>
            

            
          

      </div>

    


  {% endblock %}
  </div>
  



<!-- </div> -->

</body>
</html>
 