body{background: #c8e1e6;}

.container-1{
display: flex;
}
        
.container-1 div{
padding: 10px;
text-align: center;
}

.box-1{
flex:1;
}

.profileavi {
  vertical-align: top;
  width: 200px;
  height: 200px;
  border-radius: 50%;
} 

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* BOX 2 */

.box-2{
flex:2;
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    /* width: 8em */
}

h2{
  font-size:60px;
  color: #ffe2a1;
}


p{
  font-size:40px;
  color: rgb(52, 39, 124);
}

/* BOX 3 */

.box-3{
flex:2;
justify-content: center;
}

/* Form details */
/* .form-wrap{ width:320px; padding: 40px 20px; box-sizing: border-box; transform: translate(-50%, -50%);} */

.form-wrap{ width:320px; background: #f5cdc1 ; position: absolute; right: 50px; top: 150px}

h1{text-align: center; color: #ffe2a1; font-weight: normal; margin-bottom: 20px;}

input{width: 100%; background: none; border: 1px solid #fff ; border-radius: 3px; padding: 6px 15px; box-sizing: border-box; margin-bottom: 20px; font-size: 16px;}

input[type="button"]{background: #fff; border: 0; color: #f0deb4;}

::placeholder{color: #fff;}